# Import the necessary libraries

In [1]:
import pandas as pd

# Load the data

In [2]:
# load the data
df = pd.read_csv('../data/test_data.csv')#%%

In [3]:
df.head()

  track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0  1; Car; 134.88; 24.278704; 37.979513; 23.73602...
1  2; Car; 426.97; 21.958339; 37.980314; 23.73539...
2  3; Car; 206.58; 8.263246; 37.980328; 23.735207...
3  4; Car; 261.45; 30.361735; 37.979044; 23.73639...
4  5; Taxi; 264.12; 16.979263; 37.979026; 23.7363...